# build results
**/*.map

client/main.js
client/app/*.js
client/editor/*.js

shared/*.js

*.log

# Dependency directories
node_modules/

# Optional npm cache directory
.npm

# Output of 'npm pack'
*.tgz
