<nav class="navbar navbar-expand-md navbar-dark bg-primary">
  <a class="navbar-brand" routerLink="/">
    <i class="material-icons d-none d-md-inline-block">format_list_numbered</i> {{title}}
  </a>
  <button class="navbar-toggler" type="button" (click)="isNavbarCollapsed = !isNavbarCollapsed" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <i class="material-icons">menu</i>
  </button>
  <div class="collapse navbar-collapse" [ngbCollapse]="isNavbarCollapsed" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/data" routerLinkActive="active">Tables</a>
      </li>
      <li ngbDropdown class="nav-item dropdown" routerLinkActive="active">
        <a ngbDropdownToggle class="nav-link dropdown-toggle" id="navBarEditorDropdown">
          Settings
        </a>
        <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="navBarEditorDropdown">
          <a class="dropdown-item" routerLink="/manager/tables" routerLinkActive="active">Manage Tables</a>
          <a class="dropdown-item" routerLink="/manager/folders" routerLinkActive="active">Manage Folders</a>
          <a class="dropdown-item" routerLink="/setup" routerLinkActive="active">Setup</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
