<h1>Table
  <small class="text-muted" *ngIf="table">{{table.name}}</small>
</h1>

<div *ngIf="!table && !entry && !errorMsg" class="alert alert-info">
  Loading...
</div>
<div *ngIf="!table && entry && !errorMsg" class="alert alert-info">
  Loading metadata...
</div>
<div *ngIf="table && !entry && !errorMsg" class="alert alert-info">
  Loading data...
</div>
<div *ngIf="errorMsg" class="alert alert-danger">
  <h4 class="alert-heading">Error:</h4>
  <hr /> {{errorMsg}}
</div>

<div *ngIf="table && entry">
  <form (ngSubmit)="save();" ngNativeValidate>
    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Value</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let col of table.columns">
          <td>
            {{col.name}}
            <br/>
            <small class="text-muted"> {{col.type | columntype}}</small>
          </td>
          <td>
            <typed-input [name]="col.apiName" [col]="col" [(ngModel)]="entry[col.apiName]"></typed-input>
          </td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <th [colSpan]="table.columns.length">
            <button class="btn btn-outline-dark" (click)="goBack();">Back</button>
            <button class="btn btn-outline-primary" type="submit">Save</button>
          </th>
      </tfoot>
    </table>
  </form>
</div>
