<h1>Table
  <small class="text-muted" *ngIf="table">{{table.name}}</small>
</h1>

<div *ngIf="!table && !entry && !errorMsg" class="alert alert-info">
  Loading...
</div>
<div *ngIf="!table && entry && !errorMsg" class="alert alert-info">
  Loading metadata...
</div>
<div *ngIf="table && !entry && !errorMsg" class="alert alert-info">
  Loading data...
</div>
<div *ngIf="errorMsg" class="alert alert-danger">
  <h4 class="alert-heading">Error:</h4>
  <hr /> {{errorMsg}}
</div>

<div *ngIf="table && entry">
  <table class="table table-sm">
    <thead>
      <tr>
        <th>Name</th>
        <th>Value</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let col of table.columns">
        <td>
          {{col.name}}
        </td>
        <td>
          <typed-output [col]="col" [(ngModel)]="entry[col.apiName]"></typed-output>
        </td>
      </tr>
    </tbody>
    <tfoot class="d-print-none">
      <tr>
        <th [colSpan]="table.columns.length">
          <button class="btn btn-outline-dark" (click)="goBack();">Back</button>
          <button class="btn btn-outline-primary" [routerLink]="['/data', this.table.id, this.entry.id, 'edit']">Edit</button>
          <button class="btn btn-outline-danger" (click)="delete();">Delete</button>
        </th>
    </tfoot>
  </table>
</div>
