<h1>Table&nbsp;<small class="text-muted" *ngIf="table">{{table.name}}</small></h1>

<div *ngIf="!table && !errorMsg" class="alert alert-info">
  Loading...
</div>
<div *ngIf="errorMsg" class="alert alert-danger">
  <h4 class="alert-heading">Error:</h4>
  <hr /> {{errorMsg}}
</div>

<div *ngIf="table">
  <table class="table table-hover table-sm">
    <thead>
      <tr class="d-print-none">
        <td [colSpan]="table.columns.length + 1">
          <button class="btn btn-outline-dark" (click)="goBack();">Back</button>
          <button class="btn btn-outline-success" (click)="add();">Add</button>

          <nav *ngIf="nav.numPages >= 2">
            <ul class="pagination justify-content-center">
              <li class="page-item" [class.disabled]="0 === nav.currentPage">
                <a class="page-link" (click)="setPage(0);" aria-label="First">
                    <span aria-hidden="true">0 <b>&laquo;</b></span>
                  <span class="sr-only">First</span>
                </a>
              </li>

              <li class="page-item" [class.disabled]="0 === nav.currentPage">
                <a class="page-link" (click)="lastPage();" aria-label="Previous">
                  <b aria-hidden="true">&lsaquo;</b>
                  <span class="sr-only">Previous</span>
                </a>
              </li>

              <ng-container *ngFor="let i of nav.pages">
                <li class="page-item" [class.active]="i === nav.currentPage">
                  <a class="page-link" (click)="setPage(i);">{{i + 1}}</a>
                </li>
              </ng-container>

              <li class="page-item" [class.disabled]="nav.numPages-1 <= nav.currentPage">
                <a class="page-link" (click)="nextPage();" aria-label="Next">
                    <b aria-hidden="true">&rsaquo;</b>
                    <span class="sr-only">Next</span>
                </a>
              </li>

              <li class="page-item" [class.disabled]="nav.numPages-1 <= nav.currentPage">
                <a class="page-link" (click)="setPage(nav.numPages-1);" aria-label="Last">
                    <span aria-hidden="true"><b>&raquo;</b> {{nav.numPages}}</span>
                    <span class="sr-only">Last</span>
                </a>
              </li>
            </ul>
          </nav>

        </td>
      </tr>
      <tr>
        <th *ngFor="let col of table.columns" (click)="sort(col);">
          {{col.name}}
          <i class="material-icons text-muted mx-1">
            <small *ngIf="col == sortCol && sortASC">arrow_downward</small>
              <small *ngIf="col == sortCol && !sortASC">arrow_upward</small>
            <small *ngIf="col != sortCol">sort</small>
          </i>
          <br />
          <small class="text-muted"> {{col.type | columntype}}</small>
        </th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let entry of data">
        <td *ngFor="let col of table.columns">
          <typed-output [col]="col" [summarize]="table.columns.length > 5" [(ngModel)]="entry[col.apiName]"></typed-output>
        </td>
        <td class="d-print-none">
          <button class="btn btn-outline-danger btn-sm" (click)="delete(entry, $event);">X</button>
          <button class="btn btn-outline-success btn-sm" [routerLink]="['/data', table.id, entry.id]">&gt;</button>
        </td>
      </tr>
    </tbody>
    <tfoot>
      <tr class="d-print-none">
        <td [colSpan]="table.columns.length + 1">
          <button class="btn btn-outline-dark" (click)="goBack();">Back</button>
          <button class="btn btn-outline-success" [routerLink]="['/data', this.table.id, 'add']">Add</button>
        </td>
      </tr>
    </tfoot>
  </table>
</div>
