<h1>Table&nbsp;<small class="text-muted" *ngIf="table">{{table.name}}</small></h1>

<div *ngIf="!table && !errorMsg" class="alert alert-info">
  Loading...
</div>
<div *ngIf="errorMsg" class="alert alert-danger">
  <h4 class="alert-heading">Error:</h4>
  <hr /> {{errorMsg}}
</div>

<div *ngIf="table">
  <table class="table">
    <thead>
      <tr>
        <th *ngFor="let col of table.columns">
          {{col.name}}
          <br />
          <small class="text-muted"> {{col.type | columntype}}</small>
        </th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let entry of data" (click)="onSelect(entry)">
        <td *ngFor="let col of table.columns" [ngSwitch]="col.type">
          <ng-container *ngSwitchCase="ColumnType.DATE">
            {{entry[col.apiName] | date }}
          </ng-container>
          <ng-container *ngSwitchDefault>
            {{entry[col.apiName]}}
          </ng-container>
        </td>
        <td>
          <button class="btn btn-outline-success btn-sm" (click)="onSelect(entry);">&gt;</button>
        </td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <th [colSpan]="table.columns.length + 1">
          <button class="btn btn-outline-dark" (click)="goBack();">Back</button>
          <button class="btn btn-outline-success" (click)="add();">Add</button>
        </th>
      </tr>
    </tfoot>
  </table>
</div>
