<ng-container *ngIf="col" [ngSwitch]="col.type">
  <input *ngSwitchCase="'PK'" type="number" class="form-control" [ngModel]="value" disabled />
  <input class="form-control" (blur)="onBlur()" *ngSwitchCase="'INT'" type="number" [(ngModel)]="value" step="1" [required]="col.constraint.notNull" [min]="col.constraint.min" [max]="col.constraint.max" />
  <input class="form-control" (blur)="onBlur()" *ngSwitchCase="'STRING'" type="text" [(ngModel)]="value" [maxlength]="col.constraint.maxLength" [pattern]="col.constraint.regExp" [placeholder]="col.name" [required]="col.constraint.notNull" />
  <input class="form-control" (blur)="onBlur()" *ngSwitchCase="'DATE'" type="date" [ngModel]="value | date: 'y-MM-dd'" (ngModelChange)="value=$event" [required]="col.constraint.notNull" [min]="col.constraint.min| date: 'y-MM-dd'" [max]="col.constraint.max| date: 'y-MM-dd'"
  />
  <input class="form-control" (blur)="onBlur()" *ngSwitchCase="'BOOL'" type="checkbox" [(ngModel)]="value" [required]="col.constraint.notNull" />
  <ng-container *ngSwitchCase="'IMAGE'">
    <typed-output [col]="col" [(ngModel)]="value"></typed-output>
    <button class="btn btn-outline-dark" (click)="uploadImg();" type="button">Upload</button>
  </ng-container>
  <input class="form-control" (blur)="onBlur()" *ngSwitchCase="'MONEY'" type="number" step="0.01" [(ngModel)]="value" [required]="col.constraint.notNull" />
  <input class="form-control" (blur)="onBlur()" *ngSwitchCase="'REAL'" type="number" [(ngModel)]="value" step="any" [required]="col.constraint.notNull" />
  <input class="form-control" (blur)="onBlur()" *ngSwitchCase="'PERCENT'" type="number" step="any" [ngModel]="value * 100" (ngModelChange)="value=$event/100" [required]="col.constraint.notNull" />
  <select class="form-control" (blur)="onBlur()" *ngSwitchCase="'FK'" [(ngModel)]="value">
    <option [value]="null" *ngIf="!col.constraint.notNull">&lt;Empty&gt;</option>
    <option *ngFor="let o of options | async" [value]="o.id">{{o.label}}</option>
  </select>
  <input class="form-control" (blur)="onBlur()" *ngSwitchDefault type="text" [(ngModel)]="value" [required]="col.constraint.notNull" />
</ng-container>
