<h1 *ngIf="!current">Folder</h1>
<h1 *ngIf="current">
  <small class="text-muted">{{path(current)}}</small>
  <span *ngIf="current.name">{{current.name}}</span>
  <span *ngIf="!current.name">(ROOT)</span>
</h1>

<div *ngIf="errorMsg" class="alert alert-danger">
  <h4 class="alert-heading">Error:</h4>
  <hr /> {{errorMsg}}
</div>

<table class="table" *ngIf="children">
  <thead>
    <tr>
      <th>Name</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngIf="parent">
      <td [routerLink]="['/folders', parent.id]">
        <a [routerLink]="['/folders', parent.id]">../</a>
      </td>
    </tr>
    <tr *ngFor="let child of children">
      <td *ngIf="child.columns" [routerLink]="['/data', child.id]">
        <a [routerLink]="['/data', child.id]" class="text-dark">{{child.name}}</a>
      </td>
      <td *ngIf="!child.columns" [routerLink]="['/folders', child.id]" class="text-primary">
        <a [routerLink]="['/folders', child.id]">{{child.name}}/</a>
      </td>
    </tr>
  </tbody>
</table>
