<h1>Table&nbsp;<small class="text-muted">List</small></h1>

<div *ngIf="!tables && !errorMsg" class="alert alert-info">
  Loading...
</div>
<div *ngIf="errorMsg" class="alert alert-danger">
  <h4 class="alert-heading">Error:</h4>
  <hr /> {{errorMsg}}
</div>

<table class="table" *ngIf="tables">
  <thead>
    <tr class="d-sm-none">
      <th>Name</th>
      <th colspan="2">Columns</th>
    </tr>
    <tr>
      <th class="d-none d-sm-table-cell">Id</th>
      <th class="d-none d-sm-table-cell">Name</th>
      <th class="d-none d-sm-table-cell">Columns</th>
      <th class="d-none d-sm-table-cell" colspan="2">Rows</th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let table of tables; trackBy: trackById">
      <tr class="d-sm-none">
        <td (click)="onSelect(table.id)">{{table.name}}</td>
        <td>{{table.columns.length}}</td>
        <td><button class="btn btn-light" (click)="delete(table); $event.stopPropagation();">x</button></td>
      </tr>
      <tr>
        <td class="d-none d-sm-table-cell"><small><code>{{table.id}}</code></small></td>
        <td class="d-none d-sm-table-cell" (click)="onSelect(table.id)">{{table.name}}</td>
        <td class="d-none d-sm-table-cell text-right">{{table.columns.length}}</td>
        <td class="d-none d-sm-table-cell text-right">{{table.rows}}</td>
        <td class="d-none d-sm-table-cell"><button class="btn btn-light" (click)="delete(table); $event.stopPropagation();">x</button></td>
      </tr>
    </ng-container>
  </tbody>
  <tfoot>
    <tr>
      <th>
        <input type="text" class="form-control" [(ngModel)]="newName">
      </th>
      <th colspan="4">
        <button class="btn" (click)="add();">Add</button>
      </th>
    </tr>
  </tfoot>
</table>
