<h1>Manage Tables</h1>

<div *ngIf="!tables && !errorMsg" class="alert alert-info">
  Loading...
</div>
<div *ngIf="errorMsg" class="alert alert-danger">
  <h4 class="alert-heading">Error:</h4>
  <hr /> {{errorMsg}}
</div>

<table class="table" *ngIf="tables">
  <thead>
    <tr class="d-sm-none">
      <th>Name</th>
      <th colspan="2">Columns</th>
    </tr>
    <tr>
      <th class="d-none d-lg-table-cell">Id</th>
      <th class="d-none d-sm-table-cell">Name</th>
      <th class="d-none d-sm-table-cell">Columns</th>
      <th class="d-none d-sm-table-cell" colspan="2">Rows</th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let table of tables; trackBy: trackById">
      <tr class="d-sm-none" (click)="onSelect(table.id)">
        <td><span class="text-muted">{{path(table)}}</span>{{table.name}}</td>
        <td>{{table.columns.length}}</td>
        <td><button class="btn btn-outline-danger btn-sm" (click)="delete(table); $event.stopPropagation();">x</button></td>
      </tr>
      <tr (click)="onSelect(table.id)">
        <td class="d-none d-lg-table-cell">
          <small>
            <code>{{table.id}}</code>
          </small>
        </td>
        <td class="d-none d-sm-table-cell"><span class="text-muted">{{path(table)}}</span>{{table.name}}</td>
        <td class="d-none d-sm-table-cell text-right">{{table.columns.length}}</td>
        <td class="d-none d-sm-table-cell text-right">{{table.rows}}</td>
        <td class="d-none d-sm-table-cell"><button class="btn btn-outline-danger btn-sm" (click)="delete(table); $event.stopPropagation();">x</button></td>
      </tr>
    </ng-container>
  </tbody>
  <tfoot>
    <tr>
      <th>
        <input type="text" class="form-control" [(ngModel)]="newName" required (keyup.enter)="add();">
      </th>
      <th colspan="4">
        <button class="btn btn-outline-success" (click)="add();">Add Table</button>
        <button class="btn btn-outline-dark" (click)="export();">Export Structure</button>
        <button class="btn btn-outline-dark" (click)="import();">Import Structure</button>
      </th>
    </tr>
  </tfoot>
</table>
