<h1>Table&nbsp;<small class="text-muted">Edit</small></h1>

<div *ngIf="!table && !errorMsg" class="alert alert-info">
  Loading...
</div>
<div *ngIf="errorMsg" class="alert alert-danger">
  <h4 class="alert-heading">Error:</h4>
  <hr /> {{errorMsg}}
</div>

<div *ngIf="table">
  <div class="form-group row">
    <label for="tableName" class="col-md-2 col-form-label">Table Name</label>
    <div class="col-md-10">
      <input type="text" class="form-control" id="tableName" [(ngModel)]="table.name" required>
    </div>
  </div>

  <table class="table">
    <thead>
      <tr>
        <th style="width: 25%">Name</th>
        <th style="width: 25%">Type</th>
        <th>Constraint</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let col of table.columns; let i=index; trackBy:trackByIndex">
        <td>
          <div class="input-group" *ngIf="col.type == ColumnType.PK">
            <span class="input-group-addon"><i class="material-icons">vpn_key</i></span>
            <input type="text" [(value)]="table.columns[i].name" class="form-control" disabled>
          </div>
          <input type="text" *ngIf="col.type !== ColumnType.PK" [(ngModel)]="table.columns[i].name" class="form-control" required>
        </td>
        <td>
          <select class="form-control" (change)="changeType(table.columns[i], $event.target.value)" required>
            <option *ngFor="let t of columnTypes" [value]="t.id" [selected]="t.id == table.columns[i].type">{{t.name}}</option>
          </select>
        </td>
        <td [ngSwitch]="col.type">
          <ng-container *ngSwitchCase="ColumnType.INT">
            <div class="form-group row">
              <label class="col-sm-3">Min</label>
              <input type="number" class="form-control col-sm-9" />
            </div>
            <div class="form-group row">
              <label class="col-sm-3">Max</label>
              <input type="number" class="form-control col-sm-9" />
            </div>
          </ng-container>

          <ng-container *ngSwitchCase="ColumnType.STRING">
            <div class="form-group row">
              <label class="col-sm-3">Min Length</label>
              <input type="number" class="form-control col-sm-9" />
            </div>
            <div class="form-group row">
              <label class="col-sm-3">Max Length</label>
              <input type="number" class="form-control col-sm-9" />
            </div>
          </ng-container>

          <ng-container *ngSwitchCase="ColumnType.DATE">
            <div class="form-group row">
              <label class="col-sm-3">Min</label>
              <input type="date" class="form-control col-sm-9" value="1970-01-01" />
            </div>
            <div class="form-group row">
              <label class="col-sm-3">Max</label>
              <input type="date" class="form-control col-sm-9" value="2099-12-31" />
            </div>
          </ng-container>

          <ng-container *ngSwitchCase="ColumnType.BOOL">
            <div class="form-group">
              <div class="form-check">
                <label class="form-check-label">
                <input class="form-check-input" type="checkbox"> Allow undetermined state
              </label>
              </div>
            </div>
          </ng-container>

          <ng-container *ngSwitchDefault>
          </ng-container>
        </td>

        <td>
          <button class="btn btn-outline-danger" (click)="delete(table.columns[i]);">X</button>
        </td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <th colspan="3">
          <button class="btn btn-outline-success" (click)="add();">Add</button>
        </th>
      </tr>
      <tr>
        <th colspan="3">
          <button class="btn btn-outline-dark" (click)="goBack();">Back</button>
          <button class="btn btn-primary" (click)="save();">Save</button>
        </th>
    </tfoot>
  </table>
</div>
