<h1>Edit Table</h1>

<div *ngIf="!table && !errorMsg" class="alert alert-info">
  Loading...
</div>
<div *ngIf="errorMsg" class="alert alert-danger">
  <h4 class="alert-heading">Error:</h4>
  <hr /> {{errorMsg}}
</div>

<div *ngIf="table">
  <div class="form-group row">
    <label for="tableName" class="col-md-2 col-form-label">Table Name</label>
    <div class="col-md-10">
      <input type="text" class="form-control" id="tableName" [(ngModel)]="table.name" required>
    </div>
  </div>
  <div class="form-group row">
    <label for="tableName" class="col-md-2 col-form-label">Parent</label>
    <div class="col-md-10">
      <select class="form-control" id="tableParent" [(ngModel)]="table.parent">
        <option *ngFor="let f of folders" [value]="f.id">{{path(f)}}{{f.name}}</option>
      </select>
    </div>
  </div>

  <table class="table table-hover">
    <thead>
      <tr>
        <th style="width: 25%">Name</th>
        <th style="width: 25%">Type</th>
        <th>Constraint</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let col of table.columns; let i=index; trackBy:trackByIndex">
        <td>
          <div class="input-group" *ngIf="col.type == 'PK'">
            <span class="input-group-addon"><i class="material-icons">vpn_key</i></span>
            <input type="text" [(value)]="table.columns[i].name" class="form-control" disabled>
          </div>
          <input type="text" *ngIf="col.type !== 'PK'" [(ngModel)]="table.columns[i].name" class="form-control" required>
        </td>
        <td>
          <select class="form-control" (change)="changeType(table.columns[i], $event.target.value)" required>
            <option *ngFor="let t of columnTypes" [value]="t.id" [selected]="t.id == table.columns[i].type">{{t.name}}</option>
          </select>
        </td>
        <td>
          <div class="form-group row">
            <label class="col-sm-3">Required</label>
            <input type="checkbox" class="form-control col-sm-9" [(ngModel)]="table.columns[i].constraint.notNull" />
          </div>
          <div class="form-group row">
            <label class="col-sm-3">Unique</label>
            <input type="checkbox" class="form-control col-sm-9" [(ngModel)]="table.columns[i].constraint.unique" />
          </div>
          <ng-container [ngSwitch]="col.type">
            <ng-container *ngSwitchCase="'INT'">
              <div class="form-group row">
                <label class="col-sm-3">Min</label>
                <div class="input-group col-sm-9">
                  <span class="input-group-addon">
                    <input type="checkbox" [ngModel]="table.columns[i].constraint.min != null" (change)="table.columns[i].constraint.min = null" />
                  </span>
                  <input type="number" class="form-control" [(ngModel)]="table.columns[i].constraint.min" step="1" />
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-3">Max</label>
                <div class="input-group col-sm-9">
                  <span class="input-group-addon">
                    <input type="checkbox" [ngModel]="table.columns[i].constraint.max != null" (change)="table.columns[i].constraint.max = null" />
                  </span>
                  <input type="number" class="form-control" [(ngModel)]="table.columns[i].constraint.max" step="1" />
                </div>
              </div>
            </ng-container>

            <ng-container *ngSwitchCase="'STRING'">
              <div class="form-group row">
                <label class="col-sm-3">Max Length</label>
                <div class="input-group col-sm-9">
                  <span class="input-group-addon">
                    <input type="checkbox" [ngModel]="table.columns[i].constraint.maxLength != null" (change)="table.columns[i].constraint.maxLength = null" />
                  </span>
                  <input type="number" class="form-control" [(ngModel)]="table.columns[i].constraint.maxLength" min="1" step="1" />
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-3">RegExp</label>
                <div class="input-group col-sm-9">
                  <span class="input-group-addon">
                    <input type="checkbox" [ngModel]="table.columns[i].constraint.regExp != null" (change)="table.columns[i].constraint.regExp = null" />
                  </span>
                  <input type="text" class="form-control" [(ngModel)]="table.columns[i].constraint.regExp" />
                </div>
              </div>
            </ng-container>

            <ng-container *ngSwitchCase="'DATE'">
              <div class="form-group row">
                <label class="col-sm-3">Min</label>
                <div class="input-group col-sm-9">
                  <span class="input-group-addon">
                    <input type="checkbox" [ngModel]="table.columns[i].constraint.min != null" (change)="table.columns[i].constraint.min = null" />
                  </span>
                  <input type="date" class="form-control" [ngModel]="table.columns[i].constraint.min | date: 'y-MM-dd'" (ngModelChange)="table.columns[i].constraint.min=$event" />
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-3">Max</label>
                <div class="input-group col-sm-9">
                  <span class="input-group-addon">
                    <input type="checkbox" [ngModel]="table.columns[i].constraint.max != null" (change)="table.columns[i].constraint.max = null" />
                  </span>
                  <input type="date" class="form-control" [ngModel]="table.columns[i].constraint.max | date: 'y-MM-dd'" (ngModelChange)="table.columns[i].constraint.max=$event" />
                </div>
              </div>
            </ng-container>

            <ng-container *ngSwitchCase="'MONEY'">
              <div class="form-group row">
                <label class="col-sm-3">Min</label>
                <div class="input-group col-sm-9">
                  <span class="input-group-addon">
                    <input type="checkbox" [ngModel]="table.columns[i].constraint.min != null" (change)="table.columns[i].constraint.min = null" />
                  </span>
                  <input type="number" class="form-control" [(ngModel)]="table.columns[i].constraint.min" step="0.01" />
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-3">Max</label>
                <div class="input-group col-sm-9">
                  <span class="input-group-addon">
                    <input type="checkbox" [ngModel]="table.columns[i].constraint.max != null" (change)="table.columns[i].constraint.max = null" />
                  </span>
                  <input type="number" class="form-control" [(ngModel)]="table.columns[i].constraint.max" step="0.01" />
                </div>
              </div>
            </ng-container>

            <ng-container *ngSwitchCase="'REAL'">
              <div class="form-group row">
                <label class="col-sm-3">Min</label>
                <div class="input-group col-sm-9">
                  <span class="input-group-addon">
                    <input type="checkbox" [ngModel]="table.columns[i].constraint.min != null" (change)="table.columns[i].constraint.min = null" />
                  </span>
                  <input type="number" class="form-control" [(ngModel)]="table.columns[i].constraint.min" step="any" />
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-3">Max</label>
                <div class="input-group col-sm-9">
                  <span class="input-group-addon">
                    <input type="checkbox" [ngModel]="table.columns[i].constraint.max != null" (change)="table.columns[i].constraint.max = null" />
                  </span>
                  <input type="number" class="form-control" [(ngModel)]="table.columns[i].constraint.max" step="any" />
                </div>
              </div>
            </ng-container>

            <ng-container *ngSwitchCase="'PERCENT'">
              <div class="form-group row">
                <label class="col-sm-3">Min</label>
                <div class="input-group col-sm-9">
                  <span class="input-group-addon">
                    <input type="checkbox" [ngModel]="table.columns[i].constraint.min != null" (change)="table.columns[i].constraint.min = null" />
                  </span>
                  <input type="number" class="form-control" [ngModel]="table.columns[i].constraint.min * 100" (ngModelChange)="value=$event/100" />
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-3">Max</label>
                <div class="input-group col-sm-9">
                  <span class="input-group-addon">
                    <input type="checkbox" [ngModel]="table.columns[i].constraint.max != null" (change)="table.columns[i].constraint.max = null" />
                  </span>
                  <input type="number" class="form-control" [ngModel]="table.columns[i].constraint.max * 100" (ngModelChange)="value=$event/100" />
                </div>
              </div>
            </ng-container>

            <ng-container *ngSwitchCase="'FK'">
              <div class="form-group row">
                <label class="col-sm-3">Target</label>
                <select class="form-control col-sm-9" [(ngModel)]="table.columns[i].constraint.target" required>
                  <option *ngFor="let t of tables" [value]="t.id">{{path(t)}}{{t.name}}</option>
                </select>
              </div>
            </ng-container>

            <ng-container *ngSwitchDefault>
            </ng-container>
          </ng-container>
        </td>

        <td>
          <button class="btn btn-outline-danger" (click)="delete(table.columns[i]);">X</button>
        </td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <th colspan="3">
          <button class="btn btn-outline-success" (click)="add();">Add</button>
        </th>
      </tr>
      <tr>
        <th colspan="3">
          <button class="btn btn-outline-dark" (click)="goBack();">Back</button>
          <button class="btn btn-primary" (click)="save();">Save</button>
        </th>
    </tfoot>
  </table>
</div>
