[Unit]
Description=DataQuick Node.js server
Requires=After=postgresql-10.service

[Service]
ExecStart=/usr/bin/node /srv/DataQuick/server/server.js
WorkingDirectory=/srv/DataQuick/
# Required on some systems
Restart=always
RestartSec=10
User=dataquick
Group=dataquick

[Install]
WantedBy=multi-user.target
