<h1>Setup</h1>

<div *ngIf="msg" class="alert alert-info">
  <h4 class="alert-heading">Msg:</h4>
  <hr /> {{errorMsg}}
</div>

<p>
  <button class="btn btn-outline-dark" (click)="clear()">Drop all tables</button>
  <button class="btn btn-outline-dark" (click)="create()">Create test table</button>
  <button class="btn btn-outline-dark" (click)="insert()">Insert test data</button>
</p>
<p>
  <button class="btn btn-outline-dark" (click)="exportStructure();">Export Structure</button>
  <button class="btn btn-outline-dark" (click)="importStructure();">Import Structure</button>
</p>
<p>
  <button class="btn btn-outline-dark" (click)="exportData();">Export Data</button>
  <button class="btn btn-outline-dark" (click)="importData();">Import Data</button>
</p>
